<project>
  <files
    portability_mode="relative"
    default_encoding="System"
    readonly="false"
    maxfilesize="10485760"
    enforce_portability="false">
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Delphi"/>
        <filter
          name="Html"/>
        <filter
          name="Java"/>
        <filter
          name="Javascript"/>
        <filter
          name="Pascal"/>
        <filter
          name="Php"/>
        <filter
          name="Sql"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="assets">
        <dir
          name="translations"/>
      </dir>
      <dir
        name="omniNotes">
        <dir
          name="src">
          <dir
            name="alpha">
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="helpers"/>
                      <dir
                        name="utils"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="values"/>
              <dir
                name="xml"/>
            </dir>
          </dir>
          <dir
            name="androidTest">
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="db"/>
                      <dir
                        name="exceptions"/>
                      <dir
                        name="helpers">
                        <dir
                          name="count"/>
                      </dir>
                      <dir
                        name="ui"/>
                      <dir
                        name="utils">
                        <dir
                          name="date"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
          <dir
            name="beta">
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="helpers"/>
                      <dir
                        name="utils"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="values"/>
            </dir>
          </dir>
          <dir
            name="foss">
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="helpers"/>
                      <dir
                        name="utils"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="values"/>
              <dir
                name="xml"/>
            </dir>
          </dir>
          <dir
            name="main">
            <dir
              name="assets">
              <dir
                name="html"/>
              <dir
                name="sql"/>
            </dir>
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="async">
                        <dir
                          name="bus"/>
                        <dir
                          name="notes"/>
                        <dir
                          name="upgrade"/>
                      </dir>
                      <dir
                        name="db"/>
                      <dir
                        name="exceptions">
                        <dir
                          name="checked"/>
                        <dir
                          name="unchecked"/>
                      </dir>
                      <dir
                        name="extensions"/>
                      <dir
                        name="factory"/>
                      <dir
                        name="helpers">
                        <dir
                          name="count"/>
                        <dir
                          name="date"/>
                        <dir
                          name="notifications"/>
                      </dir>
                      <dir
                        name="intro"/>
                      <dir
                        name="models">
                        <dir
                          name="adapters">
                          <dir
                            name="category"/>
                        </dir>
                        <dir
                          name="holders"/>
                        <dir
                          name="listeners"/>
                        <dir
                          name="misc"/>
                        <dir
                          name="views"/>
                      </dir>
                      <dir
                        name="receiver"/>
                      <dir
                        name="services"/>
                      <dir
                        name="utils">
                        <dir
                          name="date"/>
                      </dir>
                      <dir
                        name="widget"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="anim"/>
              <dir
                name="animator"/>
              <dir
                name="drawable"/>
              <dir
                name="drawable-v26"/>
              <dir
                name="layout"/>
              <dir
                name="layout-sw600dp"/>
              <dir
                name="layout-v21"/>
              <dir
                name="menu"/>
              <dir
                name="raw"/>
              <dir
                name="values"/>
              <dir
                name="values-ar-rSA"/>
              <dir
                name="values-bg-rBG"/>
              <dir
                name="values-ca-rES"/>
              <dir
                name="values-cs-rCZ"/>
              <dir
                name="values-de-rDE"/>
              <dir
                name="values-el-rGR"/>
              <dir
                name="values-en-rUS"/>
              <dir
                name="values-es-rES"/>
              <dir
                name="values-es-rXA"/>
              <dir
                name="values-eu-rES"/>
              <dir
                name="values-fa-rIR"/>
              <dir
                name="values-fi-rFI"/>
              <dir
                name="values-fil-rPH"/>
              <dir
                name="values-fr-rFR"/>
              <dir
                name="values-gl-rES"/>
              <dir
                name="values-hdpi"/>
              <dir
                name="values-hi-rIN"/>
              <dir
                name="values-hr-rHR"/>
              <dir
                name="values-hu-rHU"/>
              <dir
                name="values-in-rID"/>
              <dir
                name="values-it-rIT"/>
              <dir
                name="values-iw-rIL"/>
              <dir
                name="values-ja-rJP"/>
              <dir
                name="values-km-rKH"/>
              <dir
                name="values-land"/>
              <dir
                name="values-land-v19"/>
              <dir
                name="values-lo-rLA"/>
              <dir
                name="values-lv-rLV"/>
              <dir
                name="values-my-rMM"/>
              <dir
                name="values-nb-rNO"/>
              <dir
                name="values-nl-rNL"/>
              <dir
                name="values-pl-rPL"/>
              <dir
                name="values-pt-rBR"/>
              <dir
                name="values-pt-rPT"/>
              <dir
                name="values-ro-rRO"/>
              <dir
                name="values-ru-rRU"/>
              <dir
                name="values-si-rLK"/>
              <dir
                name="values-sk-rSK"/>
              <dir
                name="values-sl-rSI"/>
              <dir
                name="values-sr-rSP"/>
              <dir
                name="values-sv-rSE"/>
              <dir
                name="values-sw360dp"/>
              <dir
                name="values-sw384dp"/>
              <dir
                name="values-sw600dp"/>
              <dir
                name="values-sw600dp-land"/>
              <dir
                name="values-sw720dp-land"/>
              <dir
                name="values-sw720dp-land-v19"/>
              <dir
                name="values-sw720dp-land-v21"/>
              <dir
                name="values-tr-rTR"/>
              <dir
                name="values-uk-rUA"/>
              <dir
                name="values-ur-rPK"/>
              <dir
                name="values-v19"/>
              <dir
                name="values-v21"/>
              <dir
                name="values-v23"/>
              <dir
                name="values-xhdpi"/>
              <dir
                name="values-zh-rCN"/>
              <dir
                name="values-zh-rTW"/>
              <dir
                name="xml"/>
            </dir>
          </dir>
          <dir
            name="play">
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="helpers"/>
                      <dir
                        name="utils"/>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
            <dir
              name="res">
              <dir
                name="values"/>
            </dir>
          </dir>
          <dir
            name="test">
            <dir
              name="java">
              <dir
                name="it">
                <dir
                  name="feio">
                  <dir
                    name="android">
                    <dir
                      name="omninotes">
                      <dir
                        name="helpers">
                        <dir
                          name="count"/>
                      </dir>
                      <dir
                        name="utils">
                        <dir
                          name="date"/>
                      </dir>
                    </dir>
                  </dir>
                </dir>
              </dir>
            </dir>
          </dir>
        </dir>
      </dir>
    </dir>
  </files>
  <languages>
    <language
      name="Java"/>
    <language
      name="Pascal"/>
    <language
      name="Web"/>
  </languages>
  <file_types/>
  <annotations_options/>
  <comparison_options
    comparison_db=""
    git_repo="./."
    git_commit=""
    diff_flags="1"/>
  <dependency_options
    exclude_standard="true"
    use_includes="true"
    mode="link"/>
  <imports/>
  <java_options
    count_javadoc_in_metrics="true"
    count_standard_in_max_inheritance="false"
    jni_kni_include_package_name="true"
    jni_kni_linkage_prepend_text="Java_"
    save_comments_associated_with_entities="true"
    version="Java5"/>
  <pascal_options
    allow_embedded_sql="true"
    display="Original"
    linkage_case="Lowercase"
    linkage_prepend_text=""
    parse_standard_library_implementation="false"
    version="Delphi"/>
  <web_options
    add_found_imported_js_files="true"
    allow_asp_style_php_tags="false"
    allow_jquery="false"
    allow_node_js="false"
    allow_short_php_tags="true"
    js_module_search_path=""
    node_js_predefined_config_file="$CONF:/understand/javascript/nodejs_predefined.txt"
    node_js_search_path=""
    save_php_comments="true"
    search_strings_for_entity_names="false"
    php_version="5.3"/>
</project>
